Substrates/
Library/Calcs/
Library/Figures/
Library/H/
Library/bases/
Library/carboxylic_acids/
Library/data_extraction/
Library/pickled_data/
Library/python_scripts/
Library/sheets/
Library/ipynbs/.ipynb_checkpoints/
